#noah {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

body {
  background-image:
  linear-gradient(
    to bottom,
   #727272, #000
    );
  padding-bottom: 100%;
}


.header {
  position:absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5em;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
}

.schedule {
  float: left;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  width: 400px;
}

.pnj {
  padding-top: 15px;
  padding-left: 12px;
  color: white;
}

#poster {
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-right:12px;
}
